package {{.PackageName}}

import (
  "fmt"
  "strings"
  {{- range .Imports }}
  "{{ . }}"
  {{- end }}
)

{{- $insertFields := .InsertFields }}
{{- $updateFields := .UpdateFields }}
{{- $selectFields := .SelectFields }}
{{ with .Model }}
{{- $fields := .Fields }}
{{- $pkFields := .PkFields }}
{{- $camelName := .CamelName }}
{{- $receiverName := (slice $camelName 0 1) }}
type {{ .PascalName }} struct {
  {{- range .Fields }}
    {{ .Name }} {{ .Type.GoType }} `db:"{{ .Column.ColumnName }}" json:"{{ .Column.ColumnName }}"`
  {{- end }}
}

func ({{ $receiverName }} *{{ .PascalName }}) String() string {
  content := strings.Join(
    []string{
      {{- range .Fields }}
        fmt.Sprintf("{{ .Name }}: %v", {{ if .Type.IsPointer }}*{{ end }}{{ $receiverName }}.{{ .Name }}),
      {{- end }}
      },
      ", ",
    )

  return fmt.Sprintf("{{ .PascalName }}{%s}", content)
}

func ({{ $receiverName }} *{{ .PascalName }}) TableName() string {
  return "{{ .Table.SchemaName }}.{{ .Table.TableName }}"
}

func ({{ $receiverName }} *{{ .PascalName }}) PrimaryKey() []string {
return []string{
    {{- range .PkFields }}
    "{{ .Column.ColumnName }}",
    {{- end }}
  }
}

func ({{ $receiverName }} *{{ .PascalName }}) InsertQuery() string {
  return {{ .CamelName }}InsertSql
}

func ({{ $receiverName }} *{{ .PascalName }}) UpdateQuery() string {
  return {{ .CamelName }}UpdateSql
}

func ({{ $receiverName }} *{{ .PascalName }}) FindQuery() string {
  return {{ .CamelName }}FindSql
}

func ({{ $receiverName }} *{{ .PascalName }}) FindAllQuery() string {
  return {{ .CamelName }}FindAllSql
}

func ({{ $receiverName }} *{{ .PascalName }}) DeleteQuery() string {
  return {{ .CamelName }}DeleteSql
}

func ({{ $receiverName }} *{{ .PascalName }}) DeleteManyQuery() string {
  return {{ .CamelName }}DeleteManySql
}

// language=mysql
var {{ .CamelName }}InsertSql = `
INSERT INTO {{ .Table.SchemaName }}.{{ .Table.TableName }}(
{{- range $i, $f := $insertFields }}
  {{- if not $f.Column.Generated }}
  {{ $f.Column.ColumnName }}{{ if not (isLast $i $insertFields) }},{{ end }}
  {{- end }}
{{- end }}
)
VALUES (
{{- range $i, $f := $insertFields }}
  {{- if not .Column.Generated }}
  :{{ .Column.ColumnName }}{{ if not (isLast $i $insertFields) }},{{ end }}
  {{- end }}
{{- end }}
)
RETURNING
{{- range $i, $f := $selectFields }}
  {{ $f.Column.ColumnName }}{{ if not (isLast $i $selectFields) }},{{ end }}
{{- end }};
`

// language=mysql
var {{ .CamelName }}UpdateSql = `
UPDATE {{ .Table.SchemaName }}.{{ .Table.TableName }}
SET
{{- range $i, $f := $updateFields }}
  {{ $f.Column.ColumnName }} = :{{ $f.Column.ColumnName }}{{ if not (isLast $i $updateFields) }},{{ end }}
{{- end }}
WHERE TRUE
{{- range .PkFields }}
  AND {{ .Column.ColumnName }} = :{{ .Column.ColumnName }}
{{- end }}
RETURNING
{{- range $i, $f := $selectFields }}
  {{ $f.Column.ColumnName }}{{ if not (isLast $i $selectFields) }},{{ end }}
{{- end }};
`

// language=mysql
var {{ .CamelName }}FindSql = `
SELECT
{{- range $i, $f := .Fields }}
  {{ $f.Column.ColumnName }}{{ if not (isLast $i $fields) }},{{ end }}
{{- end }}
FROM {{ .Table.SchemaName }}.{{ .Table.TableName }}
WHERE TRUE
{{- range $selectFields }}
  AND (:{{ .Column.ColumnName }} IS NULL or {{ .Column.ColumnName }} = :{{ .Column.ColumnName }})
{{- end }}
LIMIT 1;
`

// language=mysql
var {{ .CamelName }}FindAllSql = `
SELECT
{{- range $i, $f := .Fields }}
  {{ $f.Column.ColumnName }}{{ if not (isLast $i $fields) }},{{ end }}
{{- end }}
FROM {{ .Table.SchemaName }}.{{ .Table.TableName }}
WHERE TRUE
{{- range $selectFields }}
  AND (:{{ .Column.ColumnName }} IS NULL or {{ .Column.ColumnName }} = :{{ .Column.ColumnName }})
{{- end }};
`

// language=mysql
var {{ .CamelName }}DeleteSql = `
DELETE FROM {{ .Table.SchemaName }}.{{ .Table.TableName }}
WHERE TRUE
{{- range $selectFields }}
  AND {{ .Column.ColumnName }} = :{{ .Column.ColumnName }}
{{- end }};
`

// language=mysql
var {{ .CamelName }}DeleteManySql = `
DELETE FROM {{ .Table.SchemaName }}.{{ .Table.TableName }}
WHERE TRUE
{{- range $selectFields }}
  AND (:{{ .Column.ColumnName }} IS NULL or {{ .Column.ColumnName }} = :{{ .Column.ColumnName }})
{{- end }};
`
{{- end }}
